@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Courgette&display=swap');

/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

body{
  font-family: 'Barlow', sans-serif;
}

header{
  background-color: black;
  padding: 30px;
}

.bg-dark{
  background-color: black;
}


.logo img{
  width: 250px;
}



.mainT{
  text-align: center;
  font-size: 75px;
  margin-bottom: 30px;
  color: black;
}



.mainD{
  text-align: center;
    font-size: 65px;
}

.secundaryFont{
  font-family: 'Courgette', cursive;
}


/*NAVEGACION*/

.boton{
  text-decoration: none;
  border-radius: 200px;
  border: 2px solid white;
  padding: 5px 15px;
  margin: 5px;
  box-shadow: 5px 5px lightslategray;
}

.boton:hover, .btnActivo{
  background-color: lightblue;
  color: black;
  transition: 0,5s;
}

.boton:hover{
  transform: translate(10px 20px);
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}



/*BODY*/

body{
  background-color: #B983FF;
}

/*FOOTER*/

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: black;
  color: white;
  width: 100%;
  height: 150px;
  padding: 30px;
  
}

.redes{
  display: flex;
  list-style-type: none;
  margin: 10px;
  width: 35px;
  height: 35px;
  gap: 20px;
  justify-content: center;
}


.btnWhatsapp{
  position: fixed;
  list-style: none;
  bottom: 117px;
  right: 30px;
}


/*SOBRE MI*/


.titulo{
  color: black;
  text-align: center;
  font-size: 80px;
  padding-top: 10px;
  margin-right: 40px;
}

.caja{
  color: black;
  background-color: #CAB8FF;
  width: 500px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 100px;
  border: 2px solid black;

}

.textos{
  display: flex;
}

.parrafo1{
  text-align: justify;
  padding: 10px;
}

.parrafo2{
text-align: justify;
padding: 10px;
}


/*fotos*/

.cuerpo{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
}

.cuerpo img{
  border-radius: 20px;
}

.cuerpo:hover{
  transform: scale(1.1);
}


/*PROYECTOS*/

.tituloP{
  text-align: center;
  font-size: 80px;
}



.imag{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  gap: 30px;
}


/*CONOCIMIENTOS*/


.tituloC{
  text-align: center;
  font-size: 80px;
}

.presentacion{
  text-align: center;
  font-size: 30px;
  margin: 50px;
}


.progr{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  row-gap: 70px;
  column-gap: 50px;
  margin-bottom: 80px;
  list-style-type: none;
}


/*CONTACTO*/

.tituloC{
  text-align: center;
  font-size: 80px;
}

/*formulario*/

.formulario{
  width: 400px;
  padding: 30px;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #bf9fd2, #e5c8f0);
  margin: auto;
}

.legend{ 
  padding: 10px;
  color: black;
}



textarea, input[type="text"], input[type="email"]{
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px black ;
}


.nombreInput{
  width: 250px;
}

.apellidoInput{
  width: 250px;
}

.emailInput{
  width: 250px;
  margin-left: 14px;
}

.comentariosInput{
  width: 327px;
  height: 100px;
}

.btnFormulario{
  margin-top: 50px;
}

/* VERSION MOBILE*/
/* MEDIA QUERIES*/

@media only screen and (max-width: 600px){


.boton{
  font-size:20px;
  margin: 10px;
  line-height: 20px;
}

.contenedorBody{
  padding:15px;
}

.contFlex{
  display: flex;
}

.contenedor{
  width:100%;
}

.tituloC{
  font-size:55px;
}

.logo{
  width: 250px
}


.menu ul{
  flex-direction: column;
  font-size: 50%;
  text-align: center;
}


/*SECCION INICIO*/


main{
  padding-top: 50px;
  padding-bottom:70px;
}

.mainT{
  text-align: center;
  font-size: 55px;
}

.mainD{
  text-align: center;
  font-size: 45px;
}

footer{
  text-align: center;
}


.btnWhatsapp{
  width: 45px;
  height: 45px;
  bottom: 127px;
  right: 15px;
}


/*CONOCIMIENTOS*/


.tecnologias{
  width:100%;
}

.progr{
  grid-template-columns: 300px;
  grid-template-rows: 300px 300px 300px 300px;
  row-gap: 10px;
  column-gap: 10px;

  }

}

