//MAIN SECCION INICIO//

.contenedorBody{
    display: flex;
    flex-direction: column;
    padding: 120px 30px;
    .mainT{
        text-align: center;
        font-size: $fontSize;
        margin-bottom: 30px;
        color: $fondoColor;
        .secundaryFont{
            font-family: 'Courgette', cursive;
        }
    }
    .mainD{
        text-align: center;
        font-size: 65px;
    }
}

//MAIN SECCION SOBRE MI//


.cuerpo{
    .titulo{
        color: black;
        text-align: center;
        font-size: $fontSize;
        padding-top: 10px;
        margin-right: 40px;
    }
    .perfil{
        width: 190px;
        height: 190px;
        padding: 20px;
        border-radius: 50px;
    }
    .dibu{
        width: 190px;
        height: 190px;
        padding: 20px;
        border-radius: 50px;


    }

}

.fotosPerfil:hover{
    transform: scale(1.1);
}



.textos{
    display: flex;
    .caja{
        color: black;
        background-color: #CAB8FF;
        width: 500px;
        margin-top: 100px;
        margin-left: 50px;
        margin-bottom: 10px;
        border: 2px solid black;
    }
    .parrafo1{
        text-align: justify;
        padding: 10px;
    }
    .parrafo2{
    text-align: justify;
    padding: 10px;
}
}


//SECCION PROYECTOS//

.contenedorBody{
    .tituloP{
        text-align: center;
        font-size: $fontSize;
    }
    .imag{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        margin-top: 50px;
        gap: 15px;
        div{
            width:250px;
            height:250px;
        }
        .proyecto{
            height: 250px;
            margin-bottom: 20px;
        }
        
    }

}

//INICIO SECCION CONOCIMIENTOS//




.contenedor{
    width:960px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .tituloC{
        text-align: center;
        font-size: $fontSize;
    }
    .presentacion{
        text-align: center;
        font-size: 30px;
        margin: 50px;
    }
    .progr{
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        row-gap: 10px;
        column-gap: 10px;
        li{
            list-style-type: none;
            .tecnologias{
                width: 150px;
            }
        }
    }
}




//INICIO SECCION CONTACTO//


.contenedor{
    .tituloC{
        text-align: center;
        font-size: $fontSize;
    }

}

.formulario{
    width: 400px;
    padding: 30px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #bf9fd2, #e5c8f0);

    }
    legend{ 
        padding: 10px;
        color: black;
    }
    .btnFormulario{
        margin-top: 50px;
        background-color : blue;
    }
    .nombreInput{
        width: 250px;
    }
    .apellidoInput{
        width: 250px;
    }
    .emailInput{
        width: 250px;
        margin-left: 25px;
    }
    .comentariosInput{
        width: 400px;
        height: 70px;
    }
    .cont{
    text-align: center;
}

textarea, input[type="text"], input[type="email"]{
    padding: 5px;
    border-radius: 50px;
    box-shadow: 5px 5px black ;
}