/* VERSION MOBILE*/
/* MEDIA QUERIES*/

@media only screen and (max-width: 600px){

    main{
        padding-top: 50px;
        padding-bottom:70px;

   
        .contenedorBody{
            .mainT{
                text-align: center;
                font-size: 55px;

                }
                .mainD{
                text-align: center;
                font-size: 45px;
            }
        
    

    }
}