@import "variables";

@import "generales";

@import "fuentes";

@import "nav";

@import "body";






/*imagenes sobre mi*/


.fotosPerfil{
    display: flex;
    justify-self: right;
    margin-right: 40px;
}


.iconosFotos li{
    list-style: none;
}


.fotosPerfil h1{
    margin-right: 20px;
}





/* VERSION MOBILE*/
/* MEDIA QUERIES*/

@media only screen and (max-width: 600px){

.indexTitulo{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
}

.indexTitulo h1{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
}

.boton{
        font-size:16px;
        margin: 10px;
        line-height: 50px;
}

.contenedorBody{
        padding:15px;
}

.contFlex{
        display: flex;
}

.contenedor{
        width:100%;
}

.tituloC{
        font-size:55px;
}

.tecnologias{
        width:100%;
}

.logo img{
        width: 300px;
}

/*SECCION CONOCIMIENTO*/

.progr{
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px 300px 300px;
        row-gap: 10px;
        column-gap: 10px;
}


/*SECCION INICIO*/


.menu ul{
        flex-direction: column;
        font-size: 50%;
        text-align: center;
}


main{
        padding-top: 50px;
        padding-bottom:70px;
}

.mainT{
        text-align: center;
        font-size: 55px;
}
    
.mainD{
        text-align: center;
        font-size: 45px;
}













/* ---------------BOOTSTRAP--------------------*/

/* seccion inicio*/

.logo{
    width: 250px
}

.nav-link{
    color: white
}


.boton{
    text-decoration: none;
    color:white;
    border-radius: 200px;
    border: 2px solid white;
    padding: 5px 15px;
    margin: 5px;
    box-shadow: 5px 5px lightslategray;
}


/*Sobre Mi*/

.container{
    justify-items: center;
}


}